<div>
    <label for="">{{Event[0].Title}}</label>
</div>
<div>
    <div>
        <img src={{Event[0].Tumbnail}} alt="">
    </div>
    <div>
        <label for="">lokasi</label>
        {{EventLocation[0].Name}}
        <label for="">arahan</label>
    </div>
    <hr>
    <div class="makeItARow">
        <div class="makeItAColumn" style="padding: 10px;">
            <label for="">jenis tiket</label>
            <label for="">{{Event[0].Title}}</label>
        </div>
        <div class="makeItAColumn" style="padding: 10px;">
            <label for="">Tanggal</label>
            <label for="">{{EventDate}}</label>
        </div>
    </div>
</div>