.makeItAColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.makeItARow{
    display: flex;
    flex-direction: row;
    
}

.lanjutB{
    width: 100%;
    height: 35px;
    background-color: yellow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lanjutB:hover{
    cursor: pointer;
    background-color: gold;
    border-radius: 50px;
}

.clickable:hover {
    cursor: pointer;
    background-color: gold;
}