
<!--the footer-->
<div class="makeItARow" style="margin-bottom: 125px">
    <div>
        <img src="./../../../assets/Tiket_Logo.png" width="180" height="50">
        <div class="makeItFlexy">
            <img src="./../../../assets/message.webp" class="littleImage">
            <span class="makeItAColumnWithoudMargin">
                <label class="greyText1">whatssapp</label>
                <label>0822 32338 878</label>
            </span>
        </div>
        <div class="makeItFlexy">
            <img src="./../../../assets/email.webp" class="littleImage">
            <span class="makeItAColumnWithoudMargin">
                <label class="greyText1">Email</label>
                <label>jethrootto@gmail.com</label>
            </span>
        </div>
        <div class="makeItFlexy">
            <img src="./../../../assets/phone.png" class="littleImage">
            <span class="makeItAColumnWithoudMargin">
                <label class="greyText1">Call Center</label>
                <label>+622232338878 (Indonesia)</label>
                <label>082232338878</label>
            </span>
        </div>
    </div>
    <!--col perusahan-->
    <div class="makeItAColumn">
        <label class="titels">Perusahan</label>
        <a class="greyText">Blog</a>
        <a class="greyText">Karir</a>
        <a class="greyText">Corporate</a>
        <a class="greyText">Partner</a>
        <a class="greyText">TIX Point</a>
        <a class="greyText">Perlidungan</a>
        <a class="greyText">Cicilan</a>
        <a class="greyText">Daftarkan Hotel Anda</a>
    </div>
    
    <div class="makeItAColumn">
            <label class="titels">Produck</label>
            <a class="greyText">Pesawat</a>
            <a class="greyText">Hotel</a>
            <a class="greyText">Kereta Api</a>
            <a class="greyText">Sewa Mobil</a>
            <a class="greyText">Hiburan</a>
    </div>

    <div class="makeItAColumn">
            <label class="titels">Duckungkan</label>
            <a class="greyText">Pusat Bantuan</a>
            <a class="greyText">Karir</a>
            <a class="greyText">Syarat dan Ketentuan</a>
            <a class="greyText">Kebijakan dan Privasi</a>
            <a class="greyText">Tiket Anti Guava</a>
        </div>

    <div class="makeItAColumn">
        <label class="titels">Duckload ticket.com app</label>
        <img src="./../../../assets/GooglePlay.png" width="180" height="50" style="margin-bottom: 20px">
        <img src="./../../../assets/AppleStore.png" width="180" height="50">
    </div>
</div>

<!--bellow fotter-->
<div class="makeItARow" style="margin-bottom: 50px">
    <div class="makeItFlexy">
        <img src="./../../../assets/WIndonesia.webp" width="170" height="60">
        <span class="makeItAColumnWithoudMargin" style="margin-left: -5px;">
            <label>Official Partner</label>
            <label>Kementerian Pariwisata</label>
            <label>Republik Indonesia</label>
        </span>
    </div>
    <div class="makeItAColumn">
        <label class="titels">Keamanan Transduckion Anda</label>
        <div class="makeItARow">
            <div>
                <img src="./../../../assets/verified-visa.webp" class="littleBiggerImage">
                <img src="./../../../assets/jcb-secure.webp" class="littleBiggerImage">
            </div>
            <div>
                <img src="./../../../assets/master-card.webp" class="littleBiggerImage">
                <img src="./../../../assets/safekey.webp" class="littleBiggerImage">
            </div>
            <div>
                <img src="./../../../assets/geoTrust.webp" class="littleWierdImage">
            </div>
        </div>    
    </div>
    <div class="makeItAColumn">
        <label class="titels">Penghargaan</label>
        <div class="makeItARow">
            <div class="makeItARow">
                <img src="./../../../assets/iata.webp" class="littleImage">
                <img src="./../../../assets/topBrand.webp" class="littleImage">
                <img src="./../../../assets/superbrand.webp" class="littleImage">
            </div>
        </div>
    </div>
    <div class="makeItAColumn">
        <label class="titels">Follow Us</label>
        <div class="makeItARow">
            <div class="makeItARow">
                <img src="./../../../assets/iata.webp" class="littleImage">
                <img src="./../../../assets/topBrand.webp" class="littleImage">
                <img src="./../../../assets/superbrand.webp" class="littleImage">
            </div>
        </div>
    </div>
</div>
<!--most bottom fotter-->
<div style="border-top: 1px solid grey; margin-bottom: 20px;"></div>
<div class="makeItARow" style="justify-content: center; align-items: center;">
    <img src="./../../../assets/blibli.webp" class="littleWierdImage">
    <label style="font-size: 18px"> © 2011-2019 PT. Global Tiket Network. All Rights Reserved</label>
</div>