<!--header's head-->
<div style="background-color: whitesmoke">
    <div>
        <a>Unduh Aplikasi tiket.com</a>
        <a>Promo</a>
        <a>Pusat Bantuan</a>
    </div>
    <div>
        
    </div>
</div>

<!--header-->
<div style="display: flex; justify-content: space-between">
    <span class=LeftHeader>
        <img src="./../../../assets/Tiket_Logo.png" width="180" height="50">
        <a>Pesawat</a>
        <a>Hotel</a>
        <a>Kereta Api</a>
        <a>Sewa Mobil</a>
        <a>Hiburan</a>
    </span>
    <span class="RightHeader">
        <a>Tix Point</a>
        <a>Cek Order</a>
        <a (click)="openDialogLogin()">Login</a>
        <a class="daftarButton">Daftar</a>
    </span>
</div>