<!--header's head-->
<div style="background-color: whitesmoke; display: flex; flex-direction: row; justify-content: space-between;">
    <div>
        <a>Unduh Aplikasi tiket.com</a>
        <a (click)="gotoPromo()">Promo</a>
        <a>Pusat Bantuan</a>
    </div>
    <div>
        <div id="google_translate_element"></div>
        <input (change)="setLanguague()" [(ngModel)]="Languague" type="text">
        <input [(ngModel)]="Currency" (change)="test()" type="text">
    </div>
</div>

<!--header-->
<div style="display: flex; justify-content: space-between">
    <span class=LeftHeader>
        <img (click)="gotoHome()" src="./../../../assets/Tiket_Logo.png" width="180" height="50">
        <a (click)="gotoFlight()">Pesawat</a>
        <a>Hotel</a>
        <a (click)="gotoTrain()">Kereta Api</a>
        <a (click)="gotoRent()">Sewa Mobil</a>
        <a (click)="gotoHiburan()">Hiburan</a>
    </span>
    <span class="RightHeader">
        <a>Tix Point</a>
        <a>Cek Order</a>
        <div *ngIf="penghubung.CurrentUser == null">
            <a (click)="openDialogLogin()">Login</a>
            <a class="daftarButton">Daftar</a>
        </div>
        <div *ngIf="penghubung.CurrentUser != null">
            <a (click)="gotoAccount()" style="border: 1px solid black; border-radius: 10px;">{{penghubung.CurrentUser.FirstName}}</a>
        </div>
    </span>
</div>