<div style="display: flex; justify-content: center;">
    <button  (click)="toggle2()" >change</button>
    <div>
        <div *ngIf="changing">
            <div>
                <input [matDatepicker]="endDate">
                <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </div>
            <div>
                <input [(ngModel)]="City" type="text">
            </div>
            <div>
                <button (click)="toggle3()" >save</button>
            </div>
        </div>
    </div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center;">
    <div class="makeItAColumn" style="justify-content: center; border: 1px solid black; padding: 10px; width: 20%;">
        <input [(ngModel)]="Name" placeholder="mobil" type="text">
        <div>
            <label for="">Harga perhari</label>
        </div>
        <div class="makeItARow">
            <input [(ngModel)]="MinVal" type="text" placeholder="Min">
            <input [(ngModel)]="MaxVal" type="text" placeholder="Max">
        </div>
        <button (click)="toggle()">show more filter</button>
        <button (click)="getFiltered()">filter</button>
        <button (click)="reset()" matTooltip="for reset">reset</button>
        <div *ngIf="showingMore">
            <input [(ngModel)]="Capacity" type="text" placeholder="Max Penumpang">
            <input [(ngModel)]="Brand" type="text" placeholder="Merek">
        </div>
    </div>
    <div>
        <div *ngFor="let car of RealCars">
            <div style="border: 1px solid black; border-radius: 10px; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
                <img src="{{car.Tumbnail}}" style="width: 10%; height: 80px;" alt="">
                <label for="">{{car.Name}}</label>
                <label for="">kapasitas {{car.Capacity}}</label>
                <label for="">harga {{car.Price}}</label>
                <button (click)="beli(car)"> beli </button>
            </div>
        </div>
    </div>
</div>