<div class="slide-container" style="z-index: 1;">
    <figure class="image-container">
        <img src="./../../../assets/slider1.jpg" height="400px">
        <img src="./../../../assets/slider2.jpg" height="400px">
        <img src="./../../../assets/slider3.jpg" height="400px">
        <img src="./../../../assets/slider4.jpg" height="400px">
        <img src="./../../../assets/slider5.jpg" height="400px">
        <img src="./../../../assets/slider1.jpg" height="400px">
    </figure>
</div>

<div class="goingAnyWhereBox">
    <div class="makeItARow" style="justify-content: space-between">
        <div class="makeItAColumnLeft" style="margin-left: 10px">
            <label>Hey, you</label>
            <label style="font-weight: bold">Going Any Where ?</label>
        </div>
        <div class="makeItARow">
            <div class="makeItAColumnMargin">
                <img src="./../../../assets/GoingAnyWhere/plain.png">
                <label>flight</label>
            </div>
            <div class="makeItAColumnMargin">
                <img src="./../../../assets/GoingAnyWhere/hotel.png">
                <label>hotel</label>
            </div>
            <div class="makeItAColumnMargin">
                <img src="./../../../assets/GoingAnyWhere/train.png">
                <label>train</label>
            </div>
            <div class="makeItAColumnMargin">
                    <img src="./../../../assets/GoingAnyWhere/car.png">
                <label>car</label>
            </div>
            <div class="makeItAColumnMargin">
                    <img src="./../../../assets/GoingAnyWhere/tiket.png">
                <label>tiket</label>
            </div>           
        </div>     
    </div>
    <div>
        <app-goingflight></app-goingflight>
    </div>
</div>


