<div class="slide-container" style="z-index: 1;">
    <figure class="image-container">
        <img src="./../../../assets/slider1.jpg" height="400px">
        <img src="./../../../assets/slider2.jpg" height="400px">
        <img src="./../../../assets/slider3.jpg" height="400px">
        <img src="./../../../assets/slider4.jpg" height="400px">
        <img src="./../../../assets/slider5.jpg" height="400px">
        <img src="./../../../assets/slider1.jpg" height="400px">
    </figure>
</div>

<div class="goingAnyWhereBox">
    <div class="makeItARow" style="justify-content: space-between; background-color: aliceblue;">
        <div class="makeItAColumnLeft" style="margin-left: 10px">
            <label>Hey, you</label>
            <label style="font-weight: bold">Going Any Where ?</label>
        </div>
        <div class="makeItARow">
            <div class="makeItAColumnMargin" (click)="flight()">
                <img src="./../../../assets/GoingAnyWhere/plain.png">
                <label>flight</label>
            </div>
            <div class="makeItAColumnMargin" (click)="hotel()">
                <img src="./../../../assets/GoingAnyWhere/hotel.png">
                <label>hotel</label>
            </div>
            <div class="makeItAColumnMargin" (click)="gotoTrain()">
                <img src="./../../../assets/GoingAnyWhere/train.png">
                <label>train</label>
            </div>
            <div class="makeItAColumnMargin">
                    <img src="./../../../assets/GoingAnyWhere/car.png" (click)="car()">
                <label>car</label>
            </div>
            <div class="makeItAColumnMargin" (click)="gotoEvent()">
                    <img src="./../../../assets/GoingAnyWhere/tiket.png">
                <label>tiket</label>
            </div>           
        </div>     
    </div>
    <div>
        <app-going-plane *ngIf="selected_plane"></app-going-plane>
        <app-going-hotel *ngIf="selected_hotel"></app-going-hotel>
        <app-going-car *ngIf="selected_car"></app-going-car>
    </div>
</div>

<div  style=" position: fixed; display: flex;justify-content: flex-end; width: 98%">
    <a class="wa" href="https://www.whatsapp.com/?lang=id">whatsaap</a>
</div>




