<div id="chat-container" style="border-radius: 10px; border: 5px solid aqua; padding: 10px; min-height: 100%; margin-top: 20px; margin-left: 50px; margin-right: 50px;">
    <div id="bubble-container">
        <div *ngFor="let message of messageLists; let i =index">
            <div class="speech-bubble-send" *ngIf="validate(message)">
                <div *ngIf="message.length < 100">
                    {{ message }}
                </div>
                <div *ngIf="message.length > 100">
                    <img src="{{imgSrc}}">
                    <a href="{{imgSrc}}" download="">Download</a>
                </div>
            </div>
            <div class="speech-bubble-recv" *ngIf="!validate(message)">
                <div *ngIf="message.length < 100">
                    {{ message }}
                </div>
                <div *ngIf="message.length > 100">
                    <img src="{{imgSrc}}">
                    <a href="{{imgSrc}}" download="">Download</a>
                </div>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div style="border: 1px solid black; border-radius: 10px; padding: 10px; margin: 10px;" id="chat-input">
        <mat-form-field appearance="outline">
            <mat-label>Chat</mat-label>
            <input matInput placeholder="Enter message" [formControl]="messageControl" required>   
        </mat-form-field>
        <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;">
            <button mat-raised-button class="submit-btn" (click)="fileInput.click()">Image</button>
        <button *ngIf="messageControl.value != ''" mat-raised-button (click)="sendMessage()">Send</button>
        <button (click)="sort()">sort</button>
    </div>
</div>