<div class="makeItARow">
    <div class="makeItAColumn">
        {{Provinsi}}
        <input type="text"  [(ngModel)]="Provinsi" matTooltip="Provinsi">
    </div>
    
    <input [(ngModel)]="FlightDate" [matDatepicker]="endDate">
    <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>    
    
    <div>
        <div *ngIf="Quantity != null">
            Jumlah {{Quantity}}
        </div>
        <input type="text" [(ngModel)]="Quantity" matTooltip="Quantity">
    </div>
    <button (click)="cari()">cari</button>
</div>
<div *ngFor="let h of realHotel">
    <div *ngIf="h.Id == penghubung.CurrHotel" class="makeItARow" style="border: 1px solid black; border-radius: 10px; padding: 10px; margin: 10px;">
        <div>
            <img src="./../../../assets/blog/{{h.Tumbnail}}" style="width: 75px; height: 75px;" alt="">
        </div>
        <div>
            <div>
                <label for="">{{h.Name}}</label>
            </div>
            <div class="makeItARow">
                {{h.Star}}
                <div *ngFor="let hh of bar; let i = index">
                    <span *ngIf=" i < h.Star">
                        <img style="width: 10px; height: 10px;" src="./../../../assets/blog/star.png" alt="">
                    </span>
                </div>
                <div>
                    {{h.Area}}
                </div>
            </div>
            <div>
                {{h.Fasilitas}}
            </div>
        </div>
        <div>
            <div *ngIf="h.Price == h.DiscountPrice">
                {{h.Price}}
            </div>
            <div class="makeItAColumn" *ngIf=" h.Price != h.DiscountPrice">
                <del>{{h.Price}}</del>
                {{h.DiscountPrice}}
            </div>
            <button (click)="gotoDetail()">BOOK</button>
            <div>
                {{h.AvailableRoom}} available
            </div>
        </div>
    </div>
</div>
<div>
    <share-button button="facebook" text="facebook" [showText]="true"></share-button>
    <share-button button="copy" text="copy" [showText]="true"></share-button>
    <share-button button="google" text="google"></share-button>
</div>
<div style="width: 50%; height: 400px;">
    <div class="map-container">
        <div class="map-frame">
        <div id="map"></div>
        </div>
    </div>
</div>
<div *ngFor="let h of close">
    <div *ngIf="h.Id == penghubung.CurrHotel" class="makeItARow" style="border: 1px solid black; border-radius: 10px; padding: 10px; margin: 10px;">
        <div>
            <img src="./../../../assets/blog/{{h.Tumbnail}}" style="width: 75px; height: 75px;" alt="">
        </div>
        <div>
            <div>
                <label for="">{{h.Name}}</label>
            </div>
            <div class="makeItARow">
                {{h.Star}}
                <div *ngFor="let hh of bar; let i = index">
                    <span *ngIf=" i < h.Star">
                        <img style="width: 10px; height: 10px;" src="./../../../assets/blog/star.png" alt="">
                    </span>
                </div>
                <div>
                    {{h.Area}}
                </div>
            </div>
            <div>
                {{h.Fasilitas}}
            </div>
        </div>
        <div>
            <div *ngIf="h.Price == h.DiscountPrice">
                {{h.Price}}
            </div>
            <div class="makeItAColumn" *ngIf=" h.Price != h.DiscountPrice">
                <del>{{h.Price}}</del>
                {{h.DiscountPrice}}
            </div>
            <button (click)="gotoDetail()">BOOK</button>
            <div>
                {{h.AvailableRoom}} available
            </div>
        </div>
    </div>
</div>