<div class="makeItARow" style="justify-content: space-between; padding: 30px">
    <div style="display: flex; align-items: center">
        <img src="./../../../../../assets/GoingAnyWhere/miniPlane.png">
        <label for="">Cari harga tiket pesawat murah & promo di sini</label>
    </div>
    <div>
        <label for="">Pencarian Terakhir</label>
    </div>
</div>
<!-- 1/4 box the first -->

<div style="display: flex; justify-content: space-between; padding: 30px">
    <div class="oneFourthBoxdropdown">
        <label for="">choose</label>
        <div class="dropdownContent">
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Jakarta, Indonesia</div>
                        <div>Jakarta</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">JKTC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Surabaya, Indonesia</div>
                        <div>Surabaya</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">SUBC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Medan, Indonesia</div>
                        <div>Medan</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">MESC</label>
                </div>
            </div> 
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Makassar, Indonesia</div>
                        <div>Makassar</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">UPGC</label>
                </div>
            </div> 
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Denpasar-Bali, Indonesia</div>
                        <div>Denpasar-Bali</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">DPSC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Padang, Indonesia</div>
                        <div>Padang</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">PDGC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Palembang, Indonesia</div>
                        <div>Palembang</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">PLMC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Banjarmasin, Indonesia</div>
                        <div>Banjarmasin</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">BDJC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Pontianak, Indonesia</div>
                        <div>Pontianak</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">PNKC</label>
                </div>
            </div>  
        </div>
    </div>
            
    <div class="oneFourthBoxdropdown">
        <label for="">choose</label>
        <div class="dropdownContent">
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Jakarta, Indonesia</div>
                        <div>Jakarta</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">JKTC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Surabaya, Indonesia</div>
                        <div>Surabaya</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">SUBC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Medan, Indonesia</div>
                        <div>Medan</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">MESC</label>
                </div>
            </div> 
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Makassar, Indonesia</div>
                        <div>Makassar</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">UPGC</label>
                </div>
            </div> 
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Denpasar-Bali, Indonesia</div>
                        <div>Denpasar-Bali</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">DPSC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Padang, Indonesia</div>
                        <div>Padang</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">PDGC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Palembang, Indonesia</div>
                        <div>Palembang</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">PLMC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Banjarmasin, Indonesia</div>
                        <div>Banjarmasin</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">BDJC</label>
                </div>
            </div>  
            <div class="dropdown1Content">
                <div class="makeItARow">
                    <img src="./../../../../../assets/GoingAnyWhere/miniBuilding.png" alt="">
                    <div>
                        <div>Pontianak, Indonesia</div>
                        <div>Pontianak</div>
                    </div>
                </div>
                <div>
                    <label class="cityCode">PNKC</label>
                </div>
            </div>  
        </div>
    </div>        
    
    <div class="oneFourthBoxdropdown">
        <input [matDatepicker]="startDate">
        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>   
    </div>

    <div class="oneFourthBoxdropdown">
        <input [matDatepicker]="endDate">
        <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>   
    </div>

    <div class="oneFourthBoxdropdown">
        <label>choose</label>
        <div class="dropdownContent">
            <div class="dropdown1Content" style="flex-direction: column; width: 90%">
                <div class="makeItARow">
                    <div class="makeItAColumn">
                        <label>Penumpang</label>
                        <input type="number" placeholder="dewasa">
                        <input type="number" placeholder="anak">
                        <input type="number" placeholder="bayi"> 
                    </div>
                    <div class="makeItAColumn">
                        <label>Kelas kabin</label>
                        <input type="text" placeholder="ekonomi,premiuim,bisnis,first">
                    </div>
                </div>
                <div>
                    <a href="" style="display: flex; justify-content: flex-end">selesai</a>
                </div>
            </div>
        </div>
    </div>
</div>

