<div style="border: 1px solid black; padding: 10px; border-radius: 10px; margin: 10px;">
    <div>
        <label for="">Transit Durasi</label>
        <input [(ngModel)]="TransitDurasi"  type="text">
    </div>
    <div>
        <label for="">Durasi</label>
        <input [(ngModel)]="Durasi"  type="text">
    </div>
    <div>
        <label for="">Waktu</label>
        <input [(ngModel)]="TimeStart" type="text">
        <input [(ngModel)]="TimeEnd"  type="text">
    </div>
    <div>
        <label for="">Maskapai</label>
        <input [(ngModel)]="Maskapai"  type="text">
    </div>
    <div>
        <label for="">Fasilitas</label>
        <input [(ngModel)]="Fasilitas"  type="text">
    </div>
    <div>
        <label for="">Transit</label>
        <input [(ngModel)]="Transit"  type="text">
    </div>
    <div>
        <button (click)="getData()">filter</button>
        <button (click)="reset()">reset</button>
    </div>
</div>
<div *ngIf="FlightInterfaces[0] == null">
    Loading...
</div>
<div style="width: 100%;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Company">
        <th mat-header-cell *matHeaderCellDef> Company. </th>
        <td mat-cell *matCellDef="let element"> {{element.Company}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Tumbnail">
        <th mat-header-cell *matHeaderCellDef> Tumbnail. </th>
        <td mat-cell *matCellDef="let element"> {{element.Tumbnail}} </td>
      </ng-container>

      <ng-container matColumnDef="StartTime">
        <th mat-header-cell *matHeaderCellDef> StartTime. </th>
        <td mat-cell *matCellDef="let element"> {{element.StartTime}} </td>
      </ng-container>
  
      <ng-container matColumnDef="EndTime">
        <th mat-header-cell *matHeaderCellDef> EndTime. </th>
        <td mat-cell *matCellDef="let element"> {{element.EndTime}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price. </th>
        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
      </ng-container>
  
      <ng-container matColumnDef="StartLocation">
        <th mat-header-cell *matHeaderCellDef> StartLocation. </th>
        <td mat-cell *matCellDef="let element"> {{element.StartLocation}} </td>
      </ng-container>
  
      <ng-container matColumnDef="EndLocation">
        <th mat-header-cell *matHeaderCellDef> EndLocation. </th>
        <td mat-cell *matCellDef="let element"> {{element.EndLocation}} </td>
      </ng-container>

      <ng-container matColumnDef="Transit">
        <th mat-header-cell *matHeaderCellDef> Transit. </th>
        <td mat-cell *matCellDef="let element"> {{element.Transit}} </td>
      </ng-container>

      <ng-container matColumnDef="Fasilitas">
        <th mat-header-cell *matHeaderCellDef> Fasilitas. </th>
        <td mat-cell *matCellDef="let element"> {{element.Fasilitas}} </td>
      </ng-container>

      <ng-container matColumnDef="TransitTime">
        <th mat-header-cell *matHeaderCellDef> TransitTime. </th>
        <td mat-cell *matCellDef="let element"> {{element.TransitTime}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
    [pageSizeOptions]="[5]">
    </mat-paginator>
</div>
<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
    <div>
      <label for="">Name</label>
      <input [(ngModel)]="insName" type="text">
    </div>
    <div>
      <label for="">Company</label>
      <input [(ngModel)]="insCompany" type="text">
    </div>
    <div>
        <label for="">Tumbnail</label>
        <input [(ngModel)]="insTumbnail" type="text">
      </div>
    <div>
      <label for="">StartTime</label>
      <input [(ngModel)]="insStartTime" type="text">
    </div>
    <div>
      <label for="">EndTime</label>
      <input [(ngModel)]="insEndTime" type="text">
    </div>
    <div>
        <label for="">Price</label>
        <input [(ngModel)]="insPrice" type="text">
    </div>
    <div>
        <label for="">StartLocation</label>
        <input [(ngModel)]="insStartLocation" type="text">
    </div>
    <div>
        <label for="">EndLocation</label>
        <input [(ngModel)]="insEndLocation" type="text">
    </div>
    <div>
        <label for="">Transit</label>
        <input [(ngModel)]="insTransit" type="text">
    </div>
    <div>
        <label for="">Fasilitas</label>
        <input [(ngModel)]="insFasilitas" type="text">
    </div>
    <div>
        <label for="">TransitTime</label>
        <input [(ngModel)]="insTransitTime" type="text">
    </div>
    <div>
      <button (click)="insert()">Insert</button>
    </div>
</div>
<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
    <div>
      <label for="">Id</label>
      <input [(ngModel)]="upId" type="text">
    </div>
    <div>
        <label for="">Name</label>
        <input [(ngModel)]="upName" type="text">
    </div>
    <div>
        <label for="">Company</label>
        <input [(ngModel)]="upCompany" type="text">
    </div>
    <div>
        <label for="">Tumbnail</label>
        <input [(ngModel)]="upTumbnail" type="text">
    </div>
    <div>
        <label for="">StartTime</label>
        <input [(ngModel)]="upStartTime" type="text">
    </div>
    <div>
        <label for="">EndTime</label>
        <input [(ngModel)]="upEndTime" type="text">
    </div>
    <div>
        <label for="">Price</label>
        <input [(ngModel)]="upPrice" type="text">
    </div>
    <div>
        <label for="">StartLocation</label>
        <input [(ngModel)]="upStartLocation" type="text">
    </div>
    <div>
        <label for="">EndLocation</label>
        <input [(ngModel)]="upEndLocation" type="text">
    </div>
    <div>
        <label for="">Transit</label>
        <input [(ngModel)]="upTransit" type="text">
    </div>
    <div>
        <label for="">Fasilitas</label>
        <input [(ngModel)]="upFasilitas" type="text">
    </div>
    <div>
        <label for="">TransitTime</label>
        <input [(ngModel)]="upTransitTime" type="text">
    </div>
    <div>
      <button (click)="update()" >Update</button>
    </div>
</div>
<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
    <label for="">Id</label>
    <input [(ngModel)]="delId" type="text">
    <button (click)="delete()">Delete</button>
    <div *ngIf="sure">
      <label for="">are you sure ?</label>
      <button style="width: 10%;" (click)="yes()">         yes           </button>
      <button style="width: 10%;" (click)="no()">         no            </button>
    </div>
  </div>

