<div class="makeItAColumn" style="width: 25%;border: 1px solid black; border-radius: 10px;">
  <label for="">Rentang Harga</label>
  <label for="">Sesuaikan harga dengan budget Anda</label>
  <div class="makeItARow">
    <input [(ngModel)]="MinVal" placeholder="Min" type="text">
    <input [(ngModel)]="MaxVal" placeholder="Max" type="text">
  </div>
  <label for="">Kategori</label>
  <input [(ngModel)]="Kategori" type="text">
  <div>
    <button (click)="getData()">Filter</button>
    <button (click)="reset()">reset</button>
  </div>
</div>
<div *ngIf="EventInterfaces[0] == null">
  Loading....
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Tumbnail">
      <th mat-header-cell *matHeaderCellDef> Tumbnail </th>
      <td mat-cell *matCellDef="let element"> {{element.Tumbnail}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
    </ng-container>
    
    <ng-container matColumnDef="kategori">
      <th mat-header-cell *matHeaderCellDef> kategori </th>
      <td mat-cell *matCellDef="let element"> {{element.kategori}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
  [pageSizeOptions]="[5]">
  </mat-paginator>
</div>

<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
  <div>
    <label for="">Title</label>
    <div>
      <div class="toolbar">
          <ul class="tool-list">
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('justifyLeft')"
                      class="tool--btn">
                      <i class=' fas fa-align-left'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button"
                      (click)="tets('justifyCenter')"
                      class="tool--btn">
                      <i class=' fas fa-align-center'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('bold')"
                      class="tool--btn">
                      <i class=' fas fa-bold'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('italic')"
                      class="tool--btn">
                      <i class=' fas fa-italic'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('underline')"
                      class="tool--btn">
                      <i class=' fas fa-underline'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('insertOrderedList')"
                      class="tool--btn">
                      <i class=' fas fa-list-ol'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('insertUnorderedList')"
                      class="tool--btn">
                      <i class=' fas fa-list-ul'></i>
                  </button>
              </li>
              <li class="tool">
                  <button 
                      type="button" 
                      (click)="tets('createlink')"
                      class="tool--btn">
                      <i class=' fas fa-link'></i>
                  </button>
              </li>
          </ul>
      </div>
      <div id="output" contenteditable="true"></div>
  </div>
  </div>
  <div>
    <label for="">Price</label>
    <input [(ngModel)]="insPrice" type="text">
  </div>
  <div>
    <label for="">Tumbnail</label>
    <input [(ngModel)]="insTumbnail" type="text">
  </div>
  <div>
    <label for="">kategori</label>
    <input [(ngModel)]="insKategori" type="text">
  </div>
  <div>
    <button (click)="insert()">Insert</button>
  </div>
</div>
<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
  <div>
    <label for="">Id</label>
    <input [(ngModel)]="upId" type="text">
  </div>
  <div>
    <label for="">Title</label>
    <input  [(ngModel)]="upTitle" type="text">
  </div>
  <div>
    <label for="">Price</label>
    <input [(ngModel)]="upPrice" type="text">
  </div>
  <div>
    <label for="">Tumbnail</label>
    <input [(ngModel)]="upTumbnail" type="text">
  </div>
  <div>
    <label for="">kategori</label>
    <input  [(ngModel)]="upKategori" type="text">
  </div>
  <div>
    <button (click)="update()" >Update</button>
  </div>
</div>
<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
  <label for="">Id</label>
  <input [(ngModel)]="delId" type="text">
  <button (click)="delete()">Delete</button>
  <div *ngIf="sure">
    <label for="">are you sure ?</label>
    <button style="width: 10%;" (click)="yes()">         yes           </button>
    <button style="width: 10%;" (click)="no()">         no            </button>
  </div>
</div>
